body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #555555, #333333);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.header div {
    width: 7vh;
    height: 7vh;
    margin: 10px;
    padding: 4px;
    background-size: contain;
}

.gold {
    background-image: url('../image/gold.png');
}

.silver {
    background-image: url('../image/silver.png');
}


.header span {
    font-family: 'Lalezar';
    width: 100%;
    height: 105%;
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(85, 85, 85);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-block {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-block {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    background-color: #818181;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
}

.button:active {
    background-color: #b83e3e;
}

.button img {
    width: 100px;
    height: 100px;
}

@media (max-width: 768px) {

    .button:hover,
    .button:active {
        background-color: #b83e3e;
    }
}

.buttons.animate-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#center-content.animate-in,
#bottom-content.animate-in {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#center-content.animate-in.show,
#bottom-content.animate-in.show {
    opacity: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: minmax(40px, 1fr);
    gap: 2px;
}

.grid_elements {
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(40px, 1fr);
    justify-content: center;
    gap: 2px;
}

.grid__el {
    background-color: #b83e3e;
    color: #000000;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #222;
    font-family: 'Lalezar';
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(85, 85, 85);
    -webkit-text-stroke: 0.3px rgb(255, 255, 255);
}

.darkness_el {
    background-image: url('../image/darkness.png');
}

.forests_el {
    background-image: url('../image/forests.png');
}

.mountains_el {
    background-image: url('../image/mountains.png');
}

.plains_el {
    background-image: url('../image/plains.png');
}

.swamps_el {
    background-image: url('../image/swamps.png');
}

.grid_total {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: minmax(40px, 1fr) repeat(2, 1fr);
    justify-content: center;
    gap: 2px;
}