* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(180deg, #555 0.15%, #202020 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    animation: opacity_off_scale 0.7s ease forwards;
    scale: 80%;
    opacity: 0;
    transition: max-width 0.3s;
    min-width: 30%; 
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.19);
}

.player div {
    min-width: 20%;
    min-height: 20%;
    max-width: 80%;
    background-size: contain;
}

@keyframes opacity_off_scale {
    100% {
        opacity: 1;
        scale: 1;
    }
}

@media (min-width: 900px) {
    .player {
        max-width: 30%;
    }
}

.player img {
    width: 100%;
}

/* .first {
    background: url('../image/first.png'), no-repeat;
}

.second {
    background: url('../image/second.png'), no-repeat;
} */