body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(180deg, #555 0.15%, #202020 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.19);
}

.player div {
    width: 120px;
    height: 120px;
    background-size: contain;
}

.first {
    background: url('../image/first.png'), no-repeat;
}

.second {
    background: url('../image/second.png'), no-repeat;