* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;    
}

.main_container {
    height: 100vh;
    background: linear-gradient(180deg, #555 0.15%, #202020 100%);
    display: grid;
    grid-template-rows: 50% 20% 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.first {
    /* margin: 10px; */
    display: grid;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third {
    display: flex;
}

.gold_crystal {
    width: 100%;
}

.player {
    animation: opacity_off_scale 0.7s ease-in-out forwards;
    scale: 80%;
    opacity: 0;
    transition: max-width 0.3s;
    min-width: 30%; 
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.20);
}

.player div {
    min-width: 20%;
    min-height: 20%;
    max-width: 80%;
    background-size: contain;
}

.crystal_container,
.element_container,
.newcards_players_container {
    min-width: 30%; 
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.crystal_container div {

    min-width: 10%;
    min-height: 10%;
    max-width: 80%;
    background-size: contain;
}

.mini_button img {
    max-height: 100px;
    width: 100%;
}

.mini_button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element_container .mini_button img{
    width: 70%;
    max-height: 100px;
}

.newcards_players_container .mini_button img {
    max-height: 100px;
    width: 40%;
}

.newcards_players_container {
    grid-template-columns: repeat(3, 1fr);
}

.crystal_value {
    position: absolute;
    font-family: 'Lalezar';
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(85, 85, 85);
    -webkit-text-stroke: 0.8px rgb(255, 255, 255);
}

@keyframes opacity_off_scale {
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes opacity_on_scale {
    100% {
        opacity: 0;
        scale: 0.8;
    }
}

@media (min-width: 900px) {
    .player {
        max-width: 30%;
    }
}

@media (min-width: 900px) {
    .crystal_container {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media (orientation: landscape) {
    .crystal_container {
        grid-template-columns: repeat(10, 1fr);
    }
}

.player img {
    width: 100%;
}
